* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin:0px;
    height:100%;
}
@font-face {
    font-family: Rubik Bold;
    src: url(/fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik Medium;
    src: url(/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: Rubik Regular;
    src: url(/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Helvetica Bold;
    src: url(/fonts/Helvetica/Helvetica-Bold.ttf);
}
@font-face {
    font-family: Poppins Medium;
    src: url(/fonts/Poppins/Poppins-Medium.otf);
}
@font-face {
    font-family: Hypebeast;
    src: url(/fonts/Hypebeast/Hypebeast.ttf);
}

/* start of background images */
.banner-background{
    background-image: url("/assets/images/client/Home_Page_Banner_2.png");
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
}
.home-background{
    background-image: url("/assets/images/client/Home_Page_Banner.png");
    background-position:right top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.our-programs-background{
    background-image: url("/assets/images/client/Our_Program_BG.png");
    background-position:9.5vw 6.1vw;
    background-repeat: no-repeat;
    background-size: 7%;
}
.feature-section-background{
    background-image: url("/assets/images/client/Feature_BG.png");
    background-position:0vw 10vw;
    background-repeat: no-repeat;
    background-size: 100%;
}

.online-course-background{
    background-image: url("/assets/images/client/Online_Course_BG.png");
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: 23%;
}

.auth-background{
    background-image: url("/assets/images/client/Auth_BG.png");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading-background{
    background-image: url("/assets/images/client/Loading-Asset.png");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    
}
.online-course-detail-bg{
    background-image: url("/assets/images/client/Course_Detail_Green_BG.png");
    background-position:6.8vw 9vw;
    background-repeat: no-repeat;
    background-size: 5%;
}
.bootcamp-detail-bg{
    background-image: url("/assets/images/client/FAQ_BG.png");
    background-position:6.8vw 9vw;
    background-repeat: no-repeat;
    background-size: 5%;
}
.woki-detail-bg{
    background-image: url("/assets/images/client/Course_Detail_Red_BG.png");
    background-position:6.8vw 9vw;
    background-repeat: no-repeat;
    background-size: 5%;
}
.pengajar-background{
    background-image: url("/assets/images/client/Pengajar_BG.png");
    background-position:18vw 6vw;
    background-repeat: no-repeat;
    background-size: 20%;
}
.feature-background{
    background-image: url("/assets/images/client/Feature_BG_2.png");
    background-position:23vw top;
    background-repeat: no-repeat;
    background-size: 45%;
}
.review-course-background{
    background-image: url("/assets/images/client/Review_CourseList_BG.png");
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 43%;
}
.enroll-background{
    background-image: url("/assets/images/client/Course_Detail_Green_BG.png");
    background-position:5.5vw 5vw;
    background-repeat: no-repeat;
    background-size: 5%;
}
.course-page-background{
    background-image: url("/assets/images/client/Course_Page_BG.png");
    background-position:5.2vw 14.5vw;
    background-repeat: no-repeat;
    background-size: 88%;
}

.cart-background{
    background-image: url("/assets/images/client/Cart_BG.png");
    background-position:22vw 12.8vw;
    background-repeat: no-repeat;
    background-size: 15%;
}

.shipping-background{
    background-image: url("/assets/images/client/Cart_BG.png");
    background-position:7vw 45vw;
    background-repeat: no-repeat;
    background-size: 5%;
}
.testimony-background{
    background-image: url("/assets/images/client/Testimony_BG_2.png");
    background-position:0vw 2.3vw;
    background-repeat: no-repeat;
    background-size: 100%;
}
.krest-values-background{
    background-image: url("/assets/images/client/krest_values_background.png");
    background-position:5vw 0vw;
    background-repeat: no-repeat;
    background-size: 90%;
}
.our-values-background{
    background-image: url("/assets/images/client/our_values_background.png");
    background-position:18vw 0vw;
    background-repeat: no-repeat;
    background-size: 74%;
}
.our-values-background-woki{
    background-image: url("/assets/images/client/our_values_background_woki.png");
    background-position:56vw 10vw;
    background-repeat: no-repeat;
    background-size: 35%;
}
.for-public-oc-background{
    background-image: url("/assets/images/client/For_Public_BG.png");
    background-position:top left;
    background-repeat: no-repeat;
    background-size: 100%;

}
.for-public-woki-background{
    background-image: url("/assets/images/client/For_Public_Woki_BG.png");
    background-position:top left;
    background-repeat: no-repeat;
    background-size: 100%;

}
.krest-background{
    background-image: url("/assets/images/client/Krest_BG.png");
    background-position:top right;
    background-repeat: no-repeat;
    background-size: 55%;
}
.krest-history-background{
    background-image: url("/assets/images/client/Krest_BG_2.png");
    background-position:top left;
    background-repeat: no-repeat;
    background-size: 6%;
}

.krest-program-background{
    background-image: url("/assets/images/client/Krest_BG_2.png");
    background-position:center right;
    background-repeat: no-repeat;
    background-size: 6%;
}

.faq-background{
    background-image: url("/assets/images/client/FAQ_BG.png");
    background-position:9vw 9vw;
    background-repeat: no-repeat;
    background-size: 5%;
}

.skill-snack-fb-bg{
    background-image: url("/assets/images/client/Skill-Snack-Background.png");
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: 30%;
}
.woki-fb-bg{
    background-image: url("/assets/images/client/Woki-Background.png");
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: 30%;
}
/* end of background images*/

/* start of page padding */
.page-container-left{
    padding-left:8.5vw;
    padding-top:11vw;
    padding-right:9vw
}
.page-container-right{
    padding-right:8.5vw
}
.page-container{
    padding-left:8.5vw;
    padding-right:8.5vw
}
.page-container-inner{
    padding:4vw 18vw !important;
}
/* end of page padding */

/* font size */
.super-big-heading{
    font-size: 3.5vw;
    line-height: 5vw;
}
.big-heading{
    font-size: 2.8vw;
    line-height: 3.2vw;
}
.medium-heading{
    font-size: 2.4vw;
    line-height: 3vw;
}
.small-heading{
    font-size: 1.8vw;
}
.sub-description{
    font-size: 1.4vw;
    line-height: 2vw;

}
.bigger-text{
    font-size: 1.3vw;
}
.normal-text{
    font-size: 1.05vw;
    line-height:1.4vw;
}
.small-text{
    font-size: 0.9vw;
    line-height: 1.2vw;
}
.very-small-text{
    font-size: 0.8vw;
    line-height: 1.2vw;
}
/* end of font size */

.navbar-floating{
    position: fixed;
    width: 65vw;
    margin: 3.2vw auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 0.4vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.navbar-item{
    border-radius: 5px;
    padding:0.2vw 1vw;
    transition: 0.2s ease-in-out;
    color: #3B3C43;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid transparent;
}
.navbar-item-active{
    color:#2B6CAA !important;
    text-decoration-line: underline;
    text-decoration-color: #2B6CAA !important;
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 0.2vw;
}
.navbar-item-active-mobile{
    color:#FFFFFF !important;
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF !important;
    text-underline-offset: 1vw;
    text-decoration-thickness: 1vw;
}
.navbar-item:hover{
    color: #2B6CAA;


}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 0px !important;
  }
.container-modal {
    position: relative;
    text-align: center;
    color: white;
    padding: 0px !important;
  }

/* Top left text */
.top-left {
    position: absolute;
    top: 0px;
    left: 0vw;
  }
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0.5vw;
    left: 1.5vw;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5vw;
    border-radius: 10px 10px 0px 0px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.53) 0%, rgba(0,0,0,100) 100%); 
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.53) 0%,rgba(0,0,0,100) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.53) 0%,rgba(0,0,0,100) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#3d000000',GradientType=0 ); */
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 500ms ease;
    display: flex;flex-direction: column;justify-content: center;
    
  }
.grey-input-form{
    background: #F0F4F9;
    border-radius: 10px;
    border: none;
    padding: 1vw;
    font-family: Rubik Regular;
    color: rgba(0, 0, 0, 0.5);
}
.auth-input-form{
    background: #F7F7F9;
    border-radius: 10px;
    border: none;
    padding: 1vw;
}
.white-input-form{
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 1vw;
    font-family: Rubik Medium;
}
.btn-search{
    background-color: #2B6CAA;
    padding: 1vw;
    border: none;
    color:#FFFFFF;
    border-radius: 10px ;
}

.our-programs-card-homepage{
    background: #FFFFFF;
    border-radius: 10px;width:20vw;
}
.our-programs-card-homepage:hover{
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
}
.our-programs-card-homepage:hover a{
    background: #2B6CAA !important;
    color: #FFFFFF !important;
}
.our-programs-card-homepage:hover #card-title{
    color:#2B6CAA !important
}
.our-programs-card-home{
    background: #FFFFFF;
    transition: 0.2s ease-in-out;
    background: #FDFDFD;
    border: 1px solid #D7D6D6;
    border-radius: 10px 0px 0px 10px;
    padding:2vw

}

.our-programs-card-home:hover{
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);

}
.our-programs-card-home:hover #card-title{
    color:#2B6CAA !important
}
.our-programs-card{
    transition: 0.2s ease-in-out;
    display: flex;
    background: #FFFFFF;
    height: 12.5vw;
    border-radius: 10px;
    width:38.5vw;
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(48, 48, 48, 0.05);

}

.our-programs-card:hover{
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);

}
.our-programs-card:hover #card-title{
    color:#2B6CAA !important
}
.our-programs-card img{
   width: 15vw;
   object-fit: cover;
   border-radius: 10px 0px 0px 10px;
}
.our-programs-card .right-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:1.4vw 2vw;
}

.our-programs-card-description{
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0px;
}
.btn-dark-blue{
    background: #2B6CAA;
    border-radius: 5px;
    color:#FFFFFF;
    padding:0.3vw 1vw;
    transition: 0.3s ease-in-out;

}
.btn-dark-blue:hover{
    background: #12487B !important;
    color: #FFFFFF !important;
}
.btn-blue{
    background: rgba(111, 159, 205, 0.5);
    border-radius: 5px;
    color:#FFFFFF;
    padding:0.3vw 1vw;
    transition: 0.3s ease-in-out;

}
.btn-pink{
    background: #CE3369;
    border-radius: 5px;
    color:#FFFFFF;
    padding:0.3vw 1vw;
    transition: 0.3s ease-in-out;

}
.btn-blue:hover{
    background: #2B6CAA !important;
    color: #FFFFFF !important;
}

.btn-blue-active{
    background: #2B6CAA !important;
    color: #FFFFFF !important;

}


.btn-blue-on-hover{
    border-radius: 5px;
    padding:0.5vw 1.5vw;
    transition: 0.3s ease-in-out;
    color: #3B3C43;
}
.btn-blue-on-hover:hover{
    background: rgba(111, 159, 205, 0.5);
    color:#3B3C43;

}
/* START OF RED COURSE CARD */
.course-card-red{
    border: 2px solid #CE3369;
    border-radius: 10px;
    width:20.3vw
}
.course-card-red i{
    color:#CE3369;
}
.course-card-red hr{
    color:#CE3369;
    height: 15px;
}
.course-card-red .course-card-button{
    font-family: Rubik Medium;
    margin-bottom:0px;
    color:#3B3C43;
    text-decoration: none;
    padding: 0.2vw 1vw;
    border: 2px solid #CE3369;
    border-radius: 10px;
    margin-bottom: 0px;
    transition: 0.2s ease-in-out;
}
.course-card-red .course-card-button:hover{
    background-color: #CE3369;
    color:#FFFFFF
}
.course-card-red .card-tag{
    background-color: #CE3369;
    padding:0.3vw 2vw;
    border-radius:10px 0px 10px 0px;
    font-family:Rubik Regular
}
.course-card-red:hover{
    box-shadow: 0px 0px 10px 4px rgba(206, 51, 105, 0.3);
}
.course-card-red:hover .container>#course-card-description{
    opacity: 1 !important;
}
.course-card-red #star-section{
    border-bottom:2px solid #CE3369
}
/* END OF RED COURSE CARD */

/* START OF BLUE COURSE CARD */
.course-card-blue{
    border: 2px solid #2B6CAA;
    border-radius: 10px;
    width:20.3vw

}
.course-card-blue i{
    color:#2B6CAA;
}
.course-card-blue hr{
    color:#2B6CAA;
    height: 15px;
}
.course-card-blue .course-card-button{
    font-family: Rubik Medium;
    margin-bottom:0px;
    color:#3B3C43;
    text-decoration: none;
    padding: 0.2vw 1vw;
    border: 2px solid #2B6CAA;
    border-radius: 10px;
    margin-bottom: 0px;
    transition: 0.2s ease-in-out;
}
.course-card-blue .course-card-button:hover{
    background-color: #2B6CAA;
    color:#FFFFFF
}
.course-card-blue .card-tag{
    background-color: #2B6CAA;
    padding:0.3vw 2vw;
    border-radius:10px 0px 10px 0px;
    font-family:Rubik Regular
}
.course-card-blue:hover{
    box-shadow: 0px 0px 10px 4px rgba(43, 108, 170, 0.3);
}
.course-card-blue:hover .container>#course-card-description{
    opacity: 1 !important;
}
.course-card-blue #star-section{
    border-bottom:2px solid #2B6CAA
}
/* END OF BLUE COURSE CARD */

/* START OF GREEN COURSE CARD */
.course-card-green{
    border: 2px solid #67BBA3;
    border-radius: 10px;
    width:20.3vw
}
.course-card-green i{
    color:#67BBA3;
}
.course-card-green hr{
    color:#67BBA3;
    height: 15px;
}
.course-card-green .course-card-button{
    font-family: Rubik Medium;
    margin-bottom:0px;
    color:#3B3C43;
    text-decoration: none;
    padding: 0.2vw 1vw;
    border: 2px solid #67BBA3;
    border-radius: 10px;
    margin-bottom: 0px;
    transition: 0.2s ease-in-out;
}
.course-card-green .course-card-button:hover{
    background-color: #67BBA3;
    color:#FFFFFF
}
.course-card-green .card-tag{
    background-color: #67BBA3;
    padding:0.3vw 2vw;
    border-radius:10px 0px 10px 0px;
    font-family:Rubik Regular
}
.course-card-green:hover{
    box-shadow: 0px 0px 10px 4px rgba(103, 187, 163, 0.3);
}
.course-card-green:hover .container>#course-card-description{
    opacity: 1 !important;
}
.course-card-green #star-section{
    border-bottom:2px solid #67BBA3
}
/* END OF GREEN COURSE CARD */


/* START OF PERLENGKAPAN CARD */
.perlengkapan-card-red{
    border: 2px solid #CE3369;
    border-radius: 10px;
    height:20vw;
    width:15vw
}
/* END OF PERLENGKAPAN CARD */
.course-card-description{
    display: -webkit-box;
    overflow : hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 7 !important;
    -webkit-box-orient: vertical !important;
}

.testimony-card{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.15);
    border-radius: 10px;
    padding:1.2vw
}

*:focus {
    outline: none;
}

.white-modal{
    background: #FFFFFF;
    border-radius: 10px;
    padding:2vw 4vw 0vw 4vw;
    background-image: url("/assets/images/client/Auth_Bottom_BG.png");
    background-position:right 6.5vw;
    background-repeat: no-repeat;
    background-size:92%;
}
.white-modal-signup{
    background: #FFFFFF;
    border-radius: 10px;
    padding:2vw 4vw 8vw 4vw;
    /*background-image: url("/assets/images/client/SignUp_BG.png");
    background-position:left bottom;
    background-repeat: no-repeat;
    background-size:92%;*/
}

.btn-blue-bordered{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #2B6CAA;
    color: #3B3C43;
    background-color: #FFFFFF;
}
.btn-blue-bordered-active{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #2B6CAA;
    color: #FFFFFF;
    background-color: #2B6CAA !important;
}

.btn-blue-bordered:hover{
    color: #FFFFFF !important;
    background-color: #2B6CAA !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-yellow-bordered{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #F4C257;
    color: #3B3C43;
    background-color: #FFFFFF;
}
.btn-yellow-bordered:hover{
    color: #FFFFFF;
    background-color: #F4C257 !important;
}

.btn-purple-bordered-active{
    border-radius: 5px;
    padding:0.5vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #A24A9C;
    color: #FFFFFF;
    background-color: #A24A9C !important;
}
.btn-purple-bordered-active:hover{
    color: #FFFFFF;
}

.btn-red-bordered-active{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #CE3369;
    color: #FFFFFF;
    background-color: #CE3369 !important;
}
.btn-red-bordered-active:hover{
    color: #FFFFFF;
}


.blue-tag{
    background: #FFFFFF;
    border: 2px solid #2B6CAA;
    box-sizing: border-box;
    border-radius: 10px;
    color:#3B3C43;
    text-decoration:none;
    padding:0.5vw
}
.blue-tag:hover{
    color:#3B3C43;
}
.green-tag{
    background: #FFFFFF;
    border: 2px solid #67BBA3;
    box-sizing: border-box;
    border-radius: 10px;
    color:#3B3C43;
    text-decoration:none;
    padding:0.5vw
}
.green-tag:hover{
    color:#3B3C43;
}

.red-tag{
    background: #FFFFFF;
    border: 2px solid #CE3369;
    box-sizing: border-box;
    border-radius: 10px;
    color:#3B3C43;
    text-decoration:none;
    padding:0.5vw
}
.red-tag:hover{
    color:#3B3C43;
}

.profil-text-blue-active{
    text-decoration-line: underline;
    text-decoration-color: #2B6CAA !important;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
    color:#3B3C43 !important
}
.profil-text-blue{
    color: rgba(59, 60, 67, 0.5);
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
}
.profil-text-blue:hover{
    color:#2B6CAA
}
.profil-text-green-active{
    text-decoration-line: underline;
    text-decoration-color: #67BBA3 !important;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
    color:#3B3C43 !important
}
.profil-text-green{
    color: rgba(59, 60, 67, 0.5);
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
}
.profil-text-green:hover{
    color:#67BBA3
}

.profil-text-red-active{
    text-decoration-line: underline;
    text-decoration-color: #CE3369 !important;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
    color:#3B3C43 !important
}
.profil-text-red{
    color: rgba(59, 60, 67, 0.5);
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-underline-offset: 1vw;
    text-decoration-thickness: 0.2vw;
}
.profil-text-red:hover{
    color:#CE3369
}

.course-detail-card-green{
    background: #FFFFFF;
    box-shadow: -4px -4px 8px rgba(103, 187, 163, 0.1), 4px 4px 8px #F5F5F5;
    border-radius: 10px;
    padding:2vw 2vw
}
.course-detail-card-red{
    background: #FFFFFF;
    box-shadow: -4px -4px 8px rgba(206, 51, 105, 0.1), 4px 4px 8px #F5F5F5;
    border-radius: 10px;
    padding:2vw 2vw
}
.card-white{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
    border-radius: 10px;
    padding: 1vw;

}

.rounded-card{
    background: #FFFFFF;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    border: 1px solid rgba(48, 48, 48, 0.05);
}
.rounded-card-pengajar:hover{
    box-shadow: 0px 0px 10px 4px rgba(43, 108, 170, 0.3);

}
.rounded-card-collaborator:hover{
    box-shadow: 0px 0px 10px 4px rgba(206, 51, 105, 0.3);

}

.rounded-card:hover #card-title{
    color:#2B6CAA !important
}
.rounded-card-collaborator:hover #card-title{
    color:#CE3369 !important
}

.blue-text-underline{
    color: rgba(59, 60, 67, 0.5);    transition: 0.2s ease-in-out;
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 0.2vw;
}
.blue-text-underline:hover{
    color:#2B6CAA
}
.blue-text-underline-active{
    color:#2B6CAA !important;
    text-decoration-line: underline;
    text-decoration-color: #2B6CAA !important;
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 0.2vw;
}



.container-image-card {
    position: relative;
    padding: 0px !important;
    margin: 0px;
}

.blue-bordered-card{
    border: 2px solid #2B6CAA;
    border-radius: 10px;
    height:12vw;
}
.blue-bordered-card img{
    height: 100%;
    width:15.5vw;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
 }
 .blue-bordered-card .right-section{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     padding:1.4vw 2vw;
 }
 
.blue-bordered-card .card-tag{
    background-color: #2B6CAA;
    padding:0.3vw 2vw;
    border-radius:10px 0px 10px 0px;
    font-family:Rubik Regular;
    color:#FFFFFF
}

.blue-bordered-card #detail-button{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #2B6CAA;
    color: #FFFFFF;
    background-color: #2B6CAA !important;
}
.blue-bordered-card #meeting-link{
    color: #2B6CAA;

}
.blue-bordered-card:hover{
    box-shadow: 0px 0px 10px 4px rgba(43, 108, 170, 0.3);
}

.blue-bordered-card i{
    color:#2B6CAA
}






.red-bordered-card{
    border: 2px solid #CE3369;
    border-radius: 10px;
    height:12vw;
}
.red-bordered-card img{
    height: 100%;
    width:15.5vw;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
 }
 .red-bordered-card .right-section{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     padding:1.4vw 2vw;
 }
 
.red-bordered-card .card-tag{
    background-color: #CE3369;
    padding:0.3vw 2vw;
    border-radius:10px 0px 10px 0px;
    font-family:Rubik Regular;
    color:#FFFFFF
}
.red-bordered-card #detail-button{
    border-radius: 5px;
    padding:0.2vw 2vw;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Rubik Medium;
    border: 2px solid #CE3369;
    color: #FFFFFF;
    background-color: #CE3369 !important;
}
.red-bordered-card #meeting-link{
    color: #CE3369;

}
.red-bordered-card:hover{
    box-shadow: 0px 0px 10px 4px rgba(206, 51, 105, 0.3);
}
.red-bordered-card i{
    color:#CE3369
}

.progress-bar-vertical {
    width: 8.4vw;
    min-height: 5vw;
    display: flex;
    align-items: flex-end;
  }
  
  .progress-bar-vertical .progress-bar-blue {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    background-color: #2B6CAA;
    color:#FFFFFF;
    text-align: center;
  }
  .progress-bar-vertical .progress-bar-red {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
    background-color: #CE3369;
    color:#FFFFFF;
    text-align: center;
  }

.course-collapse{
    background: #FFFFFF;
    padding:1vw
}

.course-collapse:hover{
    background: rgba(111, 159, 205, 0.1)
}
.course-collapse-active{
    background: rgba(111, 159, 205, 0.1)

}
#cart_icon .counter[data-count]:after{
    position:absolute;
    right:7%;
    top:0%;
    content: attr(data-count);
    padding:0.2vw;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1.2vw;
    font-size: 0.9vw;
    height:1.2vw
  }
#notification_icon .counter[data-count]:after{
    position:absolute;
    right:15%;
    top:0%;
    content: attr(data-count);
    padding:0.2vw;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 0.8vw;
    height:0.8vw
  }

.cart-card-grey{
    background-color: #FBFBFB;
    padding:1vw;
    /*width:45vw;*/
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:54.5vw
}
.cart-card-blue{
    background-color: #6F9FCD;
    width:3vw;
    border-radius: 0px 10px 0px 0px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    transition: 0.2s ease-in-out;
}
.cart-card-blue:hover{
    background-color:#2B6CAA
}
.cart-card-red{
    background: rgba(206, 51, 105, 0.5);   
    width:3vw;
    border-radius: 0px 10px 10px 0px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    transition: 0.2s ease-in-out;
}

.cart-card-red:hover{
    background-color:#CE3369
}

/*POP UP*/
  
.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    margin-top: -30%;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup-change-pass {
    margin: 40vw auto;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    width:40% ;
  
  }
  .popup-change-pass .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #2B6CAA;
  
  }
  
  .popup {
    margin: 40vw auto;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    width:80% ;
  
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #2B6CAA;
  }
  .popup .close:hover {
    color: #252525;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
/*END OF POP UP*/

.interest-card{
    width:12vw;
    height:12vw;
    border-radius:10px;
    background-size: 12vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease-in-out;

    background-position:center;
    backdrop-filter: blur(4px);

}
.interest-card-active{
    background-image: none !important;
    padding:0vw 1vw
}



/* always show scrollbars 

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5vw;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
  }

 end of scroll bars */
  
.our-mission-card{
    width:18vw;
    height:23vw;
    background: #FDFDFD;
    border: 1px solid #D7D6D6;
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
    border-radius: 10px;
    padding:1vw
}

.faq-card{
    background: #FFFFFF;
    border: 1px solid rgba(48, 48, 48, 0.05);
    border-radius: 10px;
    padding:1vw 2vw
}

#uploadButton{

    background-color: #145CA8;
    color: white;
    padding: 8px 15px;
    border-radius: 0.3rem;
    cursor: pointer;
  
}

.bootcamp-link{
    background-color:#ffffff;
    color:#2B6CAA;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    transition: 0.2s ease-in-out;
    border:1px solid #FFFFFF
}
.bootcamp-link:hover{
    background-color:#2B6CAA;
    color:#FFFFFF;
}
.bootcamp-link-active{
    background-color:#2B6CAA;
    color:#FFFFFF;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    border:1px solid #FFFFFF
}
.blue-link{
    background-color:#ffffff;
    color:#67BBA3;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    transition: 0.2s ease-in-out;
    border:1px solid #FFFFFF
}
.blue-link:hover{
    background-color:#67BBA3;
    color:#FFFFFF;
}
.blue-link-active{
    background-color:#67BBA3;
    color:#FFFFFF;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    border:1px solid #FFFFFF
}
.red-link{
    background-color:#ffffff;
    color:#CE3369;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    transition: 0.2s ease-in-out;
    border:1px solid #FFFFFF
}
.red-link:hover{
    background-color:#CE3369;
    color:#FFFFFF;
}
.red-link-active{
    background-color:#CE3369;
    color:#FFFFFF;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    border:1px solid #FFFFFF
}

.yellow-link{
    background-color:#ffffff;
    color:#FFB200;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    transition: 0.2s ease-in-out;
    border:1px solid #FFFFFF
}
.yellow-link:hover{
    background-color:#FFB200;
    color:#FFFFFF;
}
.yellow-link-active{
    background-color:#FFB200;
    color:#FFFFFF;
    border-radius:10px;
    text-decoration:none;
    padding:0.5vw 1vw;
    border:1px solid #FFFFFF
}

.payment-method-card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.15);
    border-radius: 10px;
    padding:0.5vw;
    border:2px solid #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.payment-method-card .payment-method-text{
    color:#3B3C43
}
.payment-method-card:hover{
    border:2px solid #2B6CAA
}
.payment-method-card:hover .payment-method-text{
    color:#2B6CAA
}
.payment-method-card-active{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.15);
    border-radius: 10px;
    padding:0.5vw;
    border:2px solid #2B6CAA;
    color:#2B6CAA;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.payment-method-card-active-left{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.15);
    border-radius: 10px 0px 0px 10px;
    padding:1vw;
    border:2px solid #2B6CAA;
    color:#2B6CAA;
}
.payment-method-card-active-right{
    background: rgba(43, 108, 170, 0.5);    
    box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.15);
    border-radius: 0px 10px 10px 0px;
    padding:0.5vw;
    border-top:2px solid #2B6CAA;
    border-right:2px solid #2B6CAA;
    border-bottom:2px solid #2B6CAA;
    transition: 0.2s ease-in-out;

}
.payment-method-card-active-right:hover{
    background: #2B6CAA;    
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    margin-top: -31%;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-notif {
    margin: 40vw 0vw 40vw 42.5vw;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 0.2s ease-in-out;
    padding:2vw
}

.popup-notif .close-notif {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    color: #145CA8    ;
}
.popup-notif .close-notif:hover {
    color: #252525;
}

.popup-notif .content {
    max-height: 30%;
    overflow: auto;
}

.notif-item:hover{
    color:#2B6CAA
}
.notif-item-active{
    color:#2B6CAA !important;
    text-decoration-line: underline;
    text-decoration-color: #2B6CAA !important;
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 0.2vw;
}

.krest-card{
    background: #82A5C8;
    border: 1px solid #82A5C8;
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
    border-radius: 10px;
    padding:1vw;
    width:22vw;
    height:18vw;
    transition: 0.2s ease-in-out;

}

.krest-card:hover{
    background: #FFFFFF;
    border: 1px solid #B8D1EE;
    box-shadow: 0px 0px 8px 2px rgba(157, 157, 157, 0.11);
    cursor: pointer;
}

.krest-card #krest-card-title, #krest-card-description{
    color:#FFFFFF
}
.krest-card:hover #krest-card-title {
    color:#3B3C43
}
.krest-card:hover #krest-card-description {
    color:#3B3C43
}

.display-icon{
    display:block !important;
}

.edit-item{
    padding: 0.5vw 1vw;
}

.edit-item:hover{
    background-color: #2B6CAA;
}
.edit-item:hover a{
    color:#FFFFFF !important
}
.edit-item:hover p{
    color:#FFFFFF !important
}

#refresh-button:hover{
    background-color:#2B6CAA;
    transition: 0.2s ease-in-out;

}

#refresh-button:hover i{
    color:#FFFFFF !important;

}

/* start of drag drop*/

.drop-zone {
    max-width: 100%;
    height: 10vw;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed #2B6CAA;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #707070;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
/* end of drag drop*/


/* start of star rating */
.rate {
    float: left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:auto;
    visibility: hidden
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* end of star rating*/
.notification-left-blue-border{
    border-top: 2px solid rgba(43, 108, 170, 0.1);border-left: 2px solid rgba(43, 108, 170, 0.1);border-bottom:2px solid rgba(43, 108, 170, 0.1);height:100%;background: rgba(43, 108, 170, 0.1);display: flex;flex-direction: column;justify-content: center;align-items:center;width:4vw;border-radius: 10px 0px 0px 10px;transition: 0.2s ease-in-out;
    
}

.notification-right-blue-border{
    background: #FFFFFF;border-top: 2px solid rgba(43, 108, 170, 0.1);border-right: 2px solid rgba(43, 108, 170, 0.1);border-bottom: 2px solid rgba(43, 108, 170, 0.1);box-sizing: border-box;border-radius: 0px 10px 10px 0px;width:100%;transition: 0.2s ease-in-out;
}

.notification-left-yellow-border{
    border-top: 2px solid rgba(244, 194, 87, 0.2);border-left: 2px solid rgba(244, 194, 87, 0.2);border-bottom:2px solid rgba(244, 194, 87, 0.2);height:100%;background: rgba(244, 194, 87, 0.1);display: flex;flex-direction: column;justify-content: center;align-items:center;width:4vw;border-radius: 10px 0px 0px 10px;transition: 0.2s ease-in-out    
}
.notification-right-yellow-border{
    background: #FFFFFF;border-top: 2px solid rgba(244, 194, 87, 0.2);border-right: 2px solid rgba(244, 194, 87, 0.2);border-bottom: 2px solid rgba(244, 194, 87, 0.2);box-sizing: border-box;border-radius: 0px 10px 10px 0px;width:100%;transition: 0.2s ease-in-out
}
.transaction-notification-card:hover .notification-left-blue-border{
    border-top: 2px solid #2B6CAA;
    border-left: 2px solid #2B6CAA;
    border-bottom: 2px solid #2B6CAA
}
.transaction-notification-card:hover .notification-right-blue-border{
    border-top: 2px solid #2B6CAA;
    border-right: 2px solid #2B6CAA;
    border-bottom: 2px solid #2B6CAA
}
.information-notification-card:hover .notification-left-yellow-border{
    border-top: 2px solid #F4C257;
    border-left: 2px solid #F4C257;
    border-bottom: 2px solid #F4C257
}
.information-notification-card:hover .notification-right-yellow-border{
    border-top: 2px solid #F4C257;
    border-right: 2px solid #F4C257;
    border-bottom: 2px solid #F4C257
}
.blue-link-underline:hover{
    text-decoration-line: underline !important;
    text-decoration-color: #2B6CAA !important;
    text-underline-offset: 0.4vw;
    text-decoration-thickness: 0.2vw;
}

.voucher-card-active{
    width:23vw;display:flex;height:8vw;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);border-radius:10px;margin-top:2vw
}

.voucher-card-active #left-bar{
    background:#2B6CAA
}
.voucher-card-active #card-color{
    border: 2px solid #2B6CAA;
    color: #2B6CAA
}


.voucher-card-claimed{
    width:23vw;display:flex;height:8vw;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);border-radius:10px;margin-top:2vw
}
.voucher-card-claimed #left-bar{
    background:#67BBA3 
}
.voucher-card-claimed #card-color{
    border: 2px solid #67BBA3;
    color: #67BBA3
}

.voucher-card-expired{
    width:23vw;display:flex;height:8vw;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);border-radius:10px;margin-top:2vw
}
.voucher-card-expired #left-bar{
    background:#C4C4C4 
}
.voucher-card-expired #card-color{
    border: 2px solid #C4C4C4;
    color: #C4C4C4
}
.voucher-card-expired #card-text{
    color:#C4C4C4 !important
}

.redeem-card-blue{
    border: 2px solid #2B6CAA;
    border-radius: 10px;
    width:20.3vw


}
.image-thumbnail{
    width:7vw;
    height:7vw;
    object-fit:cover;
    border-radius:10px;
}
.cart-title{
    display:flex;
    align-items:flex-start;
    width:18vw;
}
.xfers-image{
    width:15vw;
}
#course-claim-margin{
    width:35% ;
    
}
.quantity{
    width:3vw;
}
.image-qris{
    width:12vw !important
}
.online-course-image{
    width:100% !important;
    height:14vw;
}
.normal-text-card{
    font-size: 1.05vw;
    line-height:1.4vw;
}
.height-online-card{
    height:4.5vw ;
}
.carousel-fontsize-right{
    width:2vw ;
    z-index:99;
    margin-right:0px
}
.carousel-fontsize-left{
    width:2vw ;
    z-index:99;
    margin-left:0px
}
.review-completed-course{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    width:35vw;
    height:24vw;
    padding:2vw
}
#change-pass-mobile{
    width:40% !important;
}
.height-card-white-mobile{
    height:20vw;
    padding:2.5vw
}





@media only screen and (max-width: 767px) {

    .image-qris{
        width:40vw !important
    }
    /* notifaction popup mobile */
    .popup-notif{
        margin: 40vw 5vw;        
        border-radius: 5px;
        width: 90%;
    }
    .notification-right-blue-border{
        border-radius: 0px 5px 5px 0px;
        width:100%;
        padding:1vw;
    }
    .notification-left-blue-border{
        width:8vw;
        border-radius: 5px 0px 0px 5px;
    }
    .notification-left-yellow-border{
        width:8vw;
        border-radius: 5px 0px 0px 5px;  
    }
    .notification-right-yellow-border{
        border-radius: 0px 5px 5px 0px;
        width:100%;
        padding:1vw
    }
    .transaction-notification-card{
        height:15vw;
    }
    #notification-title{
        margin-bottom:0.5vw !important;
    }
    #notification-description{
        margin-top:1vw !important;
    }
    .notification-mobile-height{
        overflow:scroll;
        height:60vw !important;
    }
    .popup-notif .close-notif {
        right: 5px;
    }
    /* end of notifaction popup mobile */
    /* xfers photo */
    .xfers-image{
        width:50vw;
        margin-bottom:2vw
    }
    /* start cart mobile */
    .btn-blue-bordered{
        width: 100%;
        padding:1vw  2vw !important;
        

    }
    .cart-title{
        width:32vw;
    }
    .cart-card-grey{
        width:86vw;
        height:20vw
    }
    .margin-right{
        margin-right: 10vw !important;
    }
    .image-thumbnail{
        display:none;  
    }
    .cart-card-red{   
        width:5vw;
    }
    .page-container-right{
        padding-right:4vw !important;
        padding:0vw 4vw;
    }
    .page-container-left{
        padding-left:vw !important;
        padding:0vw 3vw;
        padding-top:11vw;
    }
    .page-container{
        padding-left:4vw !important;
        padding-right:4vw !important
    }
    .display{
        display: none;
    }
    .mobile-display{
        display: block !important;
    }
    .desktop-display{
        display: none !important;
    }

    .qty-width{
        width:4.5vw !important;
    }
    
    /* end of cart mobile */
    /* start mobile cart_shipment  */
    .loading-background{
        height:50vw !important;
        
    }
    .full-width{
        width:100vw !important;
        padding:0vw !important;
    }
    .full-width-button{
        width:100%;
        padding:1vw  2vw !important;
        font-size:3.5vw !important;
    }
    .margin-bot{
        margin-bottom:4vw !important;
    }
    .margin-right-shipment{
        margin-right: 15vw !important;
    }
    .half-width-button{
        width:50%;
        padding:1vw  2vw !important;
    }
    .no-padding{
        --bs-gutter-x:0rem !important;
    }
    

    /* end of mobile cart_shipment */
    /* metode pembayaran mobile */
    .payment-method-card{
        padding:3vw;
        
    }
    .image-bank{
        width:20vw !important;
        height:10vw !important;
        object-fit:contain !important;
    }
    /* end of metode pembayaran mobile */
    /* start transcation detail mobile popup */
    /* .popup {
        width:80% !important;
        margin-right:17vw ;
      
      } */
    #popup-payment-created{
        width:80% !important;
        margin-right:10vw ;
      
    }
    #popup-payment-close-button{
        right:10px;
    }
    #popup-pembayaran-va{
        width:80% !important;
    }
    #popup-pembayaran-va-close-button{
        right:10px;
    }
    #course-claim-margin{
        width:80% !important;
        margin-right:10vw !important; 
    }   
    .popup .content {
        max-height: 50%;
        overflow: auto;
        width:100%;
    }
    .popup .close {
        top: -10px; 
      }
    .popup-image-mobile{
        width:15vw !important;
    }
    .quantity{
        width:5vw !important;
        margin-right:10vw !important
    }
    /* end of transcation detail mobile popup */

    /* START MOBILE USERDASHBOARD POPUP */
    .popup-change-pass {
        
        width:80% !important ;
      
      }
    .popup-change-pass .close{
        right:15px !important;
        top:-10px !important
      
      }
    .input-file-fontsize{
        font-size:3vw !important
    }
    .popup-point-images{
        width:30vw !important;
    }
    /* END OF USERDASHBOARD POPUP */

    /* MOBILE WOKI SECTION */
    .woki-mobile-container{
        height:60vw !important;
    }
    #pt-feature-section{
        padding-top:5vw !important;
        padding-left:5vw !important
    }
    .card-woki-mobile-height{
        height: 12.5vw !important;
    }
    .btn-pink{
        background: #CE3369;
        border-radius: 3px;
        color:#FFFFFF;
        padding:1.8vw 3vw !important;
        transition: 0.3s ease-in-out;
    
    }
    .grey-input-form{
        padding: 1vw 3vw;
        
    }
    .grey-input-form .search-course-title-icon{
        
        height:3vw !important;
        padding-top: 0.5vw;
        
    }
    .grey-input-form .search-course-title-input-width{
        
        width:23vw !important;
        
    }
    .btn-search{
        padding:3vw;

        border-radius: 5px ;
    }
    
    #user-font-size-mobile{
        font-size:4vw !important;
    }
    .height-card-white-mobile{
        height:35vw;
        padding:2.5vw
    }
    .left-arrow-mobile{
        width: 4vw !important;
        margin-left:-8px !important
    }
    .right-arrow-mobile{
        width: 4vw !important;
        margin-right:-8px !important
    }
    /* END OF MOBILE WOKI SECTION */

    /* START HOMEPAGE POPUP MOBILE */
    .logo-image-popup{
        width:15vw !important;
    }
    /* END OF HOMEPAGE POPUP MOBILE */

    

    /* START ONLINE COURSE MOBILE SECTION */
    .online-course-mobile-container{
        height:60vw !important;
    }
    .card-online-course-mobile-height{
        height: 12.5vw !important;
    }
    /* END OF ONLINE COURSE MOBILE SECTION */

    /* START MOBILE PELATIHAN VENIDICI */
    .pelatihan-venidici-mobile-container{
        height:60vw !important;
    }
    .card-pelatihan-venidici-mobile-height{
        height: 12.5vw !important;
    }
    /* END OF MOBILE PELATIHAN VENIDICI */

    /* online course detail card */
    .online-course-image{
        width:100% !important;
        height:35vw !important;
    }
    .height-online-card{
        height:10vw !important;
    }
    .course-detail-card-green{
        padding:2vw 4vw
    }
    #image-mobile-lecture{
        min-width: 11vw !important;
        height: 11vw !important
    }
    /* end of online coursee detail card */

    /* start of woki detail mobile */
    .perlengkapan-card-red{
        
        height:34vw;
        width:45vw
    }
    .course-detail-card-red{
        
        padding:2vw 4vw
    }
    /* end of woki detail mobile */

    /* start mobile dashboard voucher */
    .voucher-card-active{
        width:48vw;
        height:24vw;
    }
    .voucher-card-expired{
        width:48vw;
        height:24vw;    
    }
    .voucher-card-claimed{
        width:48vw;
        height:24vw; 
        }
    #padding-left-voucher{
        padding-left:9vw;
    }
    /* end of mobile dashboard voucher */

    /* START MOBILE DASHBOARD */
    .page-container-inner{
        padding:4vw 5vw !important;
    }
    .course-card-red{
        border: 2px solid #CE3369;
        border-radius: 10px;
        width:86vw !important
    }
    .course-card-green{
        border: 2px solid #67BBA3;
        border-radius: 10px;
        width:86vw !important
    }
    .course-card-blue{
        border: 2px solid #2B6CAA;
        border-radius: 10px;
        width:86vw !important
    
    }
    #voucher-dashboard{
        width:80% !important;

    }
    
    /* END OF MOBILE DASHBOARD */
    
    /* START MOBILE PELATIHAN AKTIF SECTION */
    .blue-bordered-card{
        height:27vw;
    
    }
    .blue-bordered-card img{
        height: 100%;
        width:30vw !important;
        
    }
    .red-bordered-card{
        height:27vw;
    }
    .red-bordered-card img{
        height: 100%;
        width:30vw !important;
        
     }
    #progress-pelatihan{
        height:3.7rem !important
    }
    .progress-bar-vertical {
        width: 18.4vw;
        
      }

    /* END OF MOBILE PELATIHAN AKTIF SECTION */

    /* START MOBILE SARAN KELAS DARI KAMI SECTION */
    .carousel-fontsize-left{
        width:7vw ;
        padding-left:3vw;
        z-index:99;
        margin-left:10px
    }
    .carousel-fontsize-right{
        width:7vw ;
        padding-right:3vw;
        z-index:99;
        margin-right:17px
    }
    /* END OF MOBILE SARAN KELAS DARI KAMI SECTION */

    /* START LEARN MOBILE VIEW */
    .learn-mobile-video{
        
        width:100%;height:60vw;border-radius:10px;display:block;object-fit: cover
        
    }
    /* END OF LEARN MOBILE VIEW */

    /* START MOBILE COMPLETED REVIEW SECTION */

    
    .review-completed-course{
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        width:90vw;
        height:60vw;
        padding:2vw
    }
    #pt-review-completed-course{
        padding-top: 3vw;
    }
    .discord-completed-course{
        height:40vw !important;
        width:85vw !important
    }
    /* END OF MOBILE COMPLETED REVIEW SECTION */
    #card-tag-fontsize{
        font-size:3vw;
    }
    .sub-description{
        font-size: 3vw;
        line-height: 4vw;
    }
    .big-heading{
        font-size: 6.5vw;
    }
    .small-heading{
        font-size: 5.5vw;
    }
    .small-heading{
        font-size: 5.5vw;
    }
    
    

    .medium-heading{
        font-size: 6vw;
        line-height: 6vw;
    }
    .small-text{
        font-size: 3vw;
        line-height: 2.9vw;
    }
    .normal-text{
        font-size: 2.5vw;
        line-height: 5vw;
    }
    .normal-text-card{
        font-size: 4vw;
        line-height:4vw;
    }
    .bigger-text{
        font-size: 3vw ;
    }
    #bigger-text-faq{
        font-size: 3vw !important;
    }
    .very-small-text{
        font-size: 1.8vw;
        line-height: 2.4vw;
    }
    .navbar-floating{
        display: none
    }
    .course-card-red{
        width: 100%;
    }
    .course-card-blue{
        width: 100%;
    }
    .course-card-green{
        width: 100%;
    }
    .page-container{
        padding-left:4vw;
        padding-right:4vw
    }
    .footer-desktop{
        display: none !important
    }
    .footer-mobile{
        display: block !important
    }
    .navbarMobile{
        display: block !important;
    }
    #cart_icon .counter[data-count]:after{
        min-width: 3vw;
        font-size: 2.5vw;
        height:3vw
    }
    #notification_icon .counter[data-count]:after{
        min-width: 3vw;
        font-size: 2.5vw;
        height:3vw
    }
    .navbar-item{
        font-size: 3.5vw;
    }
    #completed-icon{
        width:50vw !important
    }
}

/* MOBILE NAVBAR */
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


 
 #menuToggle
 {
   /* display: block; */
   position: relative;
   /* top: 28px;
   left: 26px; */
   
   z-index: 1;
   width:100px;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 /* #menuToggle a
 {
   text-decoration: none;
   color: #FFFBFB;  
   
   transition: color 0.3s ease;
 } */
 

 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 27px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #FFFFFF; /* WARNA BURGER BUTTON */
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(0px, 2px);
   background: #2B6CAA; /* WARNA X BUTTON */
   

 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
   
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: fixed;
   width: 300px;
   height:800px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #FFFFFF; /* WARNA BG NAVBAR KIRI */
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

/* #menuKiri a{
  padding:8px 16px
} */

#comment:hover ~ #comment-report{
  display: none;


}


/* END OF MOBILE NAVBAR */


/* CARD DESCRIPTION ON HOVER */

/* END OF CARD DESCRIPTION ON HOVER */


/* START OF PAGINATION */
.pagination-client {
    display: inline-block;
}
  
  .pagination-client a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination-client a.active {
    background-color: #2B6CAA;
    color: white;
    border-radius: 5px;
  }
  
  .pagination-client a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
/* END OF PAGINATION */